<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'recipes/css/about.css' %}" />
  </head>
  <body>
    {% include 'recipes/navbar.html' %}

    <div class="content-container">
      <h1>About</h1>
      <h2>Dominic DeCicco</h2>
      <h3>e-mail</h3>
      <p>ddecicco330@gmail.com</p>
      <h3>Portfolio</h3>
      <a href="https://dominicdecicco.io/">dominicdecicco.io</a>
      <h3>GitHub</h3>
      <a href="https://github.com/ddecicco330web/">github.com/ddeicco330web</a>
    </div>
  </body>
</html>
