<!DOCTYPE html>
{% load static %}

<html>
  <head>
    <title>Recipes</title>
    <link rel="stylesheet" href="{% static 'recipes/css/recipes_list.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="content-container">
      <!--Navbar-->
      {% include 'recipes/navbar.html' %}

      <!--Card container-->
      <div class="card-container">
        {% for recipe in recipes %}
        <div class="card">
          <img
            class="card-img"
            src="{{recipe.pic.url}}"
            alt="{{recipe.name}}"
          />
          <a href="{{recipe.get_absolute_url}}">{{recipe.name}}</a>
        </div>

        {% endfor %}
      </div>
    </div>
  </body>
</html>
