<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'recipes/css/search.css' %}" />
  </head>
  <body>
    <div class="content-container">
      <!-- Navbar -->
      {% include 'recipes/navbar.html' %}

      <!-- Search form -->
      <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group-container">
          <div class="form-group">
            <label for="id_recipe">Recipe:</label>
            {{ form.recipe }}
          </div>
          <div class="form-group">
            <label for="id_ingredient">Ingredient:</label>
            {{ form.ingredient }}
          </div>
          <div class="form-group">
            <label for="id_difficulty">Difficulty:</label>
            {{ form.difficulty }}
          </div>
        </div>
        <button type="submit">Search</button>
      </form>

      <div class="results-container">
        <!-- Recipe cards -->
        <div class="card-container">
          {% for index, row in recipes_df.iterrows %}
          <div class="card">
            <img
              class="card-img"
              src="{{ MEDIA_URL }}{{ row.pic }}"
              alt="{{ row.name }}"
            />
            <a href="{% url 'recipes:recipes-detail' pk=row.id %}"
              >{{ row.name }}</a
            >
          </div>
          {% endfor %}
        </div>

        {% if chart %}
        <!-- Charts -->
        <div class="chart-container">
          <img
            src="data:image/png;base64, {{ chart|safe }}"
            alt="pie chart"
            width="100%"
          />
        </div>
        {% endif %}
      </div>
    </div>

    <script src="{% static 'recipes/js/tabs.js'%}"></script>
  </body>
</html>
