<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Update Recipe</title>
    <link
      rel="stylesheet"
      href="{% static 'recipes/css/update_recipe.css' %}"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="content-container">
      {% include 'recipes/navbar.html' %}

      <h1>Update Recipe</h1>
      <form method="post" enctype="multipart/form-data">
        {{form_errors}} {% csrf_token %}
        <div class="form-group-container">
          <!--Left Column-->
          <div class="left-column">
            <div class="form-group">
              <label>Name:</label>
              {{ form.name }}
            </div>
            <div class="form-group">
              <label>Cook Time (min):</label>
              {{ form.cook_time }}
            </div>

            <div class="form-group">
              <label>Description:</label>
              {{ form.description }}
            </div>

            <div class="form-group">
              <label>Picture:</label>
              <p>Current</p>
              {{recipe.pic.url}}

              <p>Change</p>
              {{ form.pic }}
            </div>
          </div>

          <!--Right Column-->
          <div class="right-column">
            <div class="form-group">
              <label>Ingredients:</label>
              {{ form.ingredients }}
            </div>
            <div class="form-group">
              <label>Instructions:</label>
              {{ form.instructions }}
            </div>
          </div>
        </div>
        <button class="update-button" type="submit">Update</button>
      </form>
    </div>
  </body>
</html>
